@import "~sweetalert2/dist/sweetalert2.css";
@import "./components/sweetalert2";

#toplevel_page_wellway .wp-menu-image > img {
  max-width: 20px;
}

.wellway-dropdown {
  position: relative;

  &:not(.is-open) .wellway-dropdown__contents {
    display: none;
  }

  &__toggle {
    transform: rotate(90deg);
  }

  &__contents {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;

    height: 100%;
    min-width: 180px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
  }

  .is-danger,
  .is-danger:hover {
    color: #c62518;
  }
}

.wp-list-table .column-wellway_action {
  text-align: right;
}


/*
.WEDialog.components-modal__frame {
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  height: 100%;
  width: calc(100% - 230px);
  transform: none;
  //animation: none;
  top: 0;
  bottom: 0;
  left: auto !important;
  right: 0;
}
*/

.components-modal__content {
  max-width: 920px;
  width: 920px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  margin-left: -0.5rem;
  margin-right: -0.5rem;

  &,
  .form-control {
    box-sizing: border-box;
  }

  .form-control {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    position: relative;

    padding-left: .5rem;
    padding-right: .5rem;
  }

  .form-control:not(:last-child) {
    padding-right: 1rem;
  }

  &.form-group--col2 > .form-control {
    flex: 0 0 auto;
    width: 50%;
  }

  &.form-group--col3 > .form-control {
    flex: 0 0 auto;
    width: 33.3333%;
  }
}

.form-row {
  width: 100%;
  display: flex;

  margin-left: -0.5rem;
  margin-right: -0.5rem;

  .form-column {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;

    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.address-group {
  width: 100%;
  display: flex;

  > div {
    flex: 0 0 33.3333%;;
    max-width: 33.3333%;
  }

  > div:not(:last-child) {
    padding-right: 1rem
  }
}

.components-form__container {
  min-width: 780px;
}

.components-disabled {
  opacity: 0.5;
}
